extends layouts/default

block content
	div#cu1846-search-app
		<search></search>
		div.cu1846-nav
			ul.cu1846-row
				li.cu1846-col-xs-12.cu1846-col-sm-3
					<router-link :class="{'router-link-active': $route.fullPath ==='/' || $route.fullPath === '/faculty'}" to="/faculty">Faculty &amp; Staff</router-link>
				li.cu1846-col-xs-12.cu1846-col-sm-3
					<router-link to="/departments">Departments</router-link>
				li.cu1846-col-xs-12.cu1846-col-sm-3
					<router-link to="/important-numbers">Important Numbers</router-link>
				li.cu1846-col-xs-12.cu1846-col-sm-3
					<router-link to="/all-listings">Search All</router-link>
		//- Load Router
		
		<router-view></router-view>


